.App, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  outline: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #07b6fc;
}
.App > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App img {
  max-height: 8rem;
}
.Button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  width: 8rem;
  height: 2rem;
  margin-top: 20px;
  
  background: #07b6fc;
}

#add {
  border: 2px solid #670ddd;
  color: #670ddd;
}
#remove {
  border: 2px solid #fc2c07;
  color: #fc2c07;
}
#reset {
  background: #fc2c07;
  border: 2px solid #fc2c07;
  color: #fff;
}